@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    font-family: 'Slabo 27px', serif;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
section{
    margin: 0 10% 0 10%;
    background-color: white;
}

section h1{
    padding: 2% 0 2% 0;
    text-align: center;
}

#article-list{
    padding: 0 3% 5% 3%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    left: 0;
    top: 0;
}

li img{
    float: left;
    display: inline;
}

li a{
    float: right;
    display: inline;
}

nav li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    background-color: white
}